
.header {

    padding-top: 50px;
    letter-spacing: .5em;
    font-size: 4rem;
    font-weight: 900;
}

.header-1 , .display-4{

    padding-top: 8vh;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 1px rgb(0,0,0,.6);
    
    font-weight: 700;
}

.nav-link {
    letter-spacing: .3rem;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    
  }

.card-img {

    opacity: .3;
    filter: grayscale(20%);
}

.card-text {
    font-family: 'Source Code Pro', monospace;
    margin: 0 1.5rem;
}


/* COUNTERS */

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.JuneRemoteCourseProjects {
    list-style-type: none;
}

.footer {

    width: 100%;
   
}