/*
Wild Code Colors:

Orange:
HTML/HEX code:	#f76c6c	
RGB code:	rgb(247, 108, 108)

Dark grey:
HTML/HEX code:	#39424e	
RGB code:	rgb(57, 66, 78)

Medium grey:
HTML/HEX code:	#4c535e	
RGB code:	rgb(76, 83, 94)

White:
HTML/HEX code:	#ffffff	
RGB code:	rgb(255, 255, 255)

*/


.header {

    padding-top: 50px;
    
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* COUNTERS */

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.JuneRemoteCourseProjects {
    list-style-type: none;
}